*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}

.front{
    background-color: #FFFFFF;
    height: 48vh;
    padding: 10px;
    overflow: hidden;
}

.front h1{
    /* text-transform: uppercase; */
    font-size: 500px;
    font-family:Helvetica;
    font-weight: 600;
    
}

.div2{
    background-color: rebeccapurple;
    background: url(bgimage.png) no-repeat center center / cover;
    height: 50vh;
    margin: 10px;
    border-radius: 5px;
    
}

